<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
   <head>
      <title>RankingGold.com  » Contact</title>
      <meta charset="UTF-8">
      <meta name="description" content="RankingGold.com - Get Golden Rankings Today">
      <meta name="author" content=" ">
      <meta name="contact" content="rankinggold.com@gmail.com">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link id="pbtheme_favicon" rel="shortcut icon" href="../favicon.png" type="image/x-icon">
      <link rel="apple-touch-icon" href="../favicon.png" type="image/png">
      <link rel="apple-touch-icon" sizes="72x72" href="../favicon.png" type="image/png">
      <link rel="apple-touch-icon" sizes="114x114" href="../favicon.png" type="image/png">
      <link rel="apple-touch-icon" sizes="144x144" href="../favicon.png" type="image/png">
      <!--[if lt IE 9]>
      <script>
         document.createElement('header');
         document.createElement('nav');
         document.createElement('section');
         document.createElement('article');
         document.createElement('aside');
         document.createElement('footer');
         document.createElement('video');
         document.createElement('audio');
      </script>
      <![endif]-->
      <meta name="robots" content="max-image-preview:large">
      <!-- Open Graph data -->
      <meta property="og:title" content="Contact">
      <meta property="og:type" content="page">
      <meta property="og:url" content="https://www.rankinggold.com/contact">
      <meta property="og:site_name" content="RankingGold.com">
      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@">
      <meta name="twitter:title" content="Contact">
      <link rel="dns-prefetch" href="//s.w.org">
      <script type="text/javascript">
         window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.rankinggold.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.10"}};
         !function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([10084,65039,8205,55357,56613],[10084,65039,8203,55357,56613])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
      </script>
      <style type="text/css">
         img.wp-smiley,
         img.emoji {
         display: inline !important;
         border: none !important;
         box-shadow: none !important;
         height: 1em !important;
         width: 1em !important;
         margin: 0 .07em !important;
         vertical-align: -0.1em !important;
         background: none !important;
         padding: 0 !important;
         }
      </style>
      <link rel="stylesheet" id="color-box-css-css" href="../colorbox.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_font-awesome_css-css" href="../font-awesome.css?ver=4.2.0" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_fornt_css-css" href="../front.css?ver=1.0.1" type="text/css" media="all">
      <link rel="stylesheet" id="font-awesome-css" href="../font-awesome.css?ver=4.2.0" type="text/css" media="all">
      <link rel="stylesheet" id="font-frb_awesome-css" href="../font-awesome.css?ver=4.2.0" type="text/css" media="all">
      <link rel="stylesheet" id="font-creative-css" href="../styles.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="font-alternative-css" href="../styles.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="font-new_creative-css" href="../style.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="font-new_alternative-css" href="../style.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_prettyphoto_css-css" href="../jquery.prettyphoto.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_swiper_css-css" href="../idangerous.swiper.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_YTPlayer_css-css" href="../mb.YTVPlayer.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_flipclock_css-css" href="../timer2.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_mb_comingsoon_css-css" href="../mb-comingsoon.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_animate_css-css" href="../animate.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_contact_ui_css-css" href="../contact-ui.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_shortcode_css-css" href="../shortcodes.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_pbs_css-css" href="../pbs.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbuilder_fp_css-css" href="../minimalist.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="progressbar-css-css" href="../progressbar.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="contact-form-7-css" href="../styles.css?ver=5.5.2" type="text/css" media="all">
      <link rel="stylesheet" id="wp-v-icons-css-css" href="../wpvi-fa4.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbtheme-style-css" href="../style.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbtheme-less-css" href="../pbtheme-less.css?ver=1635141117" type="text/css" media="all">
      <link rel="stylesheet" id="pbtheme-divicon-css" href="../styles.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbtheme-swipe-css" href="../swipebox.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="socialbro-css" href="../socialbro.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbtheme-idangerous-css" href="../idangerous.swiper.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="sellocity-custom-button-css" href="../custom_button.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pb-theme-upgrade-style-css" href="../style-upgrade-theme.css?ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbtheme-font-1-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A100%2C200%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C700%2C700italic%2C800&amp;subset=all&amp;ver=5.8.10" type="text/css" media="all">
      <link rel="stylesheet" id="pbtheme-font-2-css" href="//fonts.googleapis.com/css?family=Roboto%3A100%2C200%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C700%2C700italic%2C800&amp;subset=all&amp;ver=5.8.10" type="text/css" media="all">
      <script type="text/javascript" src="../jquery.colorbox-min.js?ver=5.8.10" id="color-box-min-js"></script>
      <script type="text/javascript" src="../jquery.colorbox.js?ver=5.8.10" id="color-box-js"></script>
      <script type="text/javascript" src="../jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>
      <script type="text/javascript" src="../jquery-migrate.min.js?ver=3.3.2" id="jquery-migrate-js"></script>
      <script type="text/javascript" src="../form_validate.js?ver=1.0.5" id="validate-js"></script>
      <style>
         .pbuilder_column * {
         font-family: Open Sans, serif; 
         }	
      </style>
      <style>
         #pbuilder_content_wrapper .pbuilder_row > div:last-child, .anivia_row > div:last-child,  #pbuilder_wrapper.pbuilder_wrapper_one-fourth-right-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-fourth-left-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-third-right-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-third-left-sidebar {
         margin: 0px -18px;
         }
         .pbuilder_column.pbuilder_column-1-1, .pbuilder_column.pbuilder_column-1-2, .pbuilder_column.pbuilder_column-1-3, .pbuilder_column.pbuilder_column-2-3, .pbuilder_sidebar.pbuilder_one-fourth-right-sidebar, .pbuilder_sidebar.pbuilder_one-fourth-left-sidebar, .pbuilder_sidebar.pbuilder_one-third-right-sidebar, .pbuilder_sidebar.pbuilder_one-third-left-sidebar, .pbuilder_column.pbuilder_column-1-4, .pbuilder_column.pbuilder_column-3-4, .pbuilder_column.pbuilder_column-1-5, .pbuilder_column.pbuilder_column-2-5, .pbuilder_column.pbuilder_column-3-5, .pbuilder_column.pbuilder_column-4-5, .pbuilder_wrapper_one-fourth-left-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-third-left-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-fourth-right-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-third-right-sidebar #pbuilder_content_wrapper{
         border-right:18px solid transparent;
         border-left:18px solid transparent;
         }
         @media screen and (max-width: 1200px) {
         #pbuilder_content_wrapper .pbuilder_row > div:last-child, .anivia_row > div:last-child,  #pbuilder_wrapper.pbuilder_wrapper_one-fourth-right-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-fourth-left-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-third-right-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-third-left-sidebar {
         margin: 0px -9px;
         }
         .pbuilder_column.pbuilder_column-1-1, .pbuilder_column.pbuilder_column-1-2, .pbuilder_column.pbuilder_column-1-3, .pbuilder_column.pbuilder_column-2-3, .pbuilder_sidebar.pbuilder_one-fourth-right-sidebar, .pbuilder_sidebar.pbuilder_one-fourth-left-sidebar, .pbuilder_sidebar.pbuilder_one-third-right-sidebar, .pbuilder_sidebar.pbuilder_one-third-left-sidebar, .pbuilder_column.pbuilder_column-1-4, .pbuilder_column.pbuilder_column-3-4, .pbuilder_column.pbuilder_column-1-5, .pbuilder_column.pbuilder_column-2-5, .pbuilder_column.pbuilder_column-3-5, .pbuilder_column.pbuilder_column-4-5, .pbuilder_wrapper_one-fourth-left-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-third-left-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-fourth-right-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-third-right-sidebar #pbuilder_content_wrapper{
         border-right:9px solid transparent;
         border-left:9px solid transparent;
         }
         }
         @media screen and (max-width: 768px) {
         #pbuilder_content_wrapper .pbuilder_row > div:last-child, .anivia_row > div:last-child,  #pbuilder_wrapper.pbuilder_wrapper_one-fourth-right-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-fourth-left-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-third-right-sidebar, #pbuilder_wrapper.pbuilder_wrapper_one-third-left-sidebar {
         margin: 0px -6px;
         }
         .pbuilder_column.pbuilder_column-1-1, .pbuilder_column.pbuilder_column-1-2, .pbuilder_column.pbuilder_column-1-3, .pbuilder_column.pbuilder_column-2-3, .pbuilder_sidebar.pbuilder_one-fourth-right-sidebar, .pbuilder_sidebar.pbuilder_one-fourth-left-sidebar, .pbuilder_sidebar.pbuilder_one-third-right-sidebar, .pbuilder_sidebar.pbuilder_one-third-left-sidebar, .pbuilder_column.pbuilder_column-1-4, .pbuilder_column.pbuilder_column-3-4, .pbuilder_column.pbuilder_column-1-5, .pbuilder_column.pbuilder_column-2-5, .pbuilder_column.pbuilder_column-3-5, .pbuilder_column.pbuilder_column-4-5, .pbuilder_wrapper_one-fourth-left-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-third-left-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-fourth-right-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-third-right-sidebar #pbuilder_content_wrapper{
         border-right:6px solid transparent;
         border-left:6px solid transparent;
         }
         }
         @media screen and (max-width: 640px) {
         .pbuilder_column.pbuilder_column-1-1, .pbuilder_column.pbuilder_column-1-2, .pbuilder_column.pbuilder_column-1-3, .pbuilder_column.pbuilder_column-2-3, .pbuilder_sidebar.pbuilder_one-fourth-right-sidebar, .pbuilder_sidebar.pbuilder_one-fourth-left-sidebar, .pbuilder_sidebar.pbuilder_one-third-right-sidebar, .pbuilder_sidebar.pbuilder_one-third-left-sidebar, .pbuilder_column.pbuilder_column-1-4, .pbuilder_column.pbuilder_column-3-4, .pbuilder_column.pbuilder_column-1-5, .pbuilder_column.pbuilder_column-2-5, .pbuilder_column.pbuilder_column-3-5, .pbuilder_column.pbuilder_column-4-5, .pbuilder_wrapper_one-fourth-left-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-third-left-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-fourth-right-sidebar #pbuilder_content_wrapper, .pbuilder_wrapper_one-third-right-sidebar #pbuilder_content_wrapper{
         width:100%;
         border-width:0;
         }
         .frb_pricing_column_label {
         display:none;
         }
         .frb_pricing_container_1col table {
         width:100% !important;
         }
         .frb_pricing_container_2col table{
         width:200% !important;
         }
         .frb_pricing_container_3col table{
         width:300% !important;
         }
         .frb_pricing_container_4col table{
         width:400% !important;
         }
         .frb_pricing_container_5col table{
         width:500% !important;
         }
         .frb_pricing_table td {
         border-right:0 !important;
         }
         #pbuilder_content_wrapper .pbuilder_row > div:last-child, .anivia_row > div:last-child,  .pbuilder_wrapper_one-third-left-sidebar .pbuilder_row, .pbuilder_wrapper_one-third-right-sidebar .pbuilder_row, .pbuilder_wrapper_one-fourth-left-sidebar .pbuilder_row, .pbuilder_wrapper_one-fourth-right-sidebar .pbuilder_row, .pbuilder_row_controls  {
         margin: 0px;
         }
         .frb_pricing_controls,
         .frb_pricing_section_responsive,
         .frb_pricing_label_responsive {
         display:block;
         }
         }
      </style>
      <style id="pbtheme_styles" type="text/css">
         #comments li.comment, #comments ul.children,.pbtheme_nav_element a{border-color:#cccccc;}.active.div_main_bg {background:#82b440 !important;}body.div-nobgvideo #pbtheme_wrapper{background:#ffffff;}.div_main_bg{background:#82b440}.contact_form.comment_form .input_wrapper_select>div{border-color:#cccccc}.header_wrapper{background:#ffffff}.footer_wrapper{color:#ffffff;color:rgba(255,255,255,.8);background:#1b1b1b}.footer_wrapper .blog_header_title{color:#ffffff}.footer_wrapper .blog_header_title .blog_header_line{border-color:#ffffff!important}.pbtheme_boxed #pbtheme_wrapper{border-color:#cccccc}.sticky-header{background:#ffffff}body{color:#111111;background:#ffffff}.blog_content h3 a:hover,.menu_wrapper a:hover,.menu_wrapper>ul>li>a:hover,a,a:hover,.pbtheme_nav_element a:hover,.pbtheme_empty_cart a{color:#82b440}.div_breadcrumbs{border-color:#cccccc;background:rgba(17,17,17,0.1)}.hover_transparent.not-transparent h4,.menu_wrapper>ul>li>a,.tabs-nav .text_color_default,.pbtheme_nav_element a{color:#111111}.pbtheme_border{border-color:#82b440!important}#pbtheme_sticky,.pbtheme_background{background:#ffffff}.menu_wrapper>ul>li.menu-item ul.sub-menu,.menu_wrapper>ul>li>ul.sub-menu{background:#111111;}.pbtheme_shopping_cart{background:#ffffff;color:#111111;border-color:#cccccc}.pbtheme_background_dark,.pbtheme_separator,.small_separator{background:#111111}.pbtheme_dark_border,.header_holder,.header_wrapper{border-color:#111111!important}.single-tags-list a,.tagcloud a{background-color:#111111;color:#ffffff}.single-tags-list a:hover,.tagcloud a:hover{background:#82b440!important}.widget.woocommerce li,.widget_archive li,.widget_categories li,.widget_meta li,.widget_nav_menu li,.widget_pages li,.widget_recent_comments li,.widget_recent_entries li,.widget-pbtheme-catthree ul li{border-color:#cccccc!important}.blog_content .post.format-quote .headline_highlighted_column_block .div_feat_quote{color:#ffffff;background:#111111;background:rgba(#111111,.5)}.small_separator_pale{background-color:#cccccc!important}.div_responsive #div_header_menu,.div_responsive #div_header_menu>ul>li,.pbtheme_pale_border,.posts_meta>div,body.artranspchive .a.kklike-box{border-color:#ffffff;color:#ffffff}a.kklike-box:hover{border-color:rgba(17,17,17,.87);color:rgba(17,17,17,.87)}a.kklike-box {background-color:#111111;color:#ffffff;}a.kklike-box:hover {background-color:#82b440;}format-quote .div_feat_quote, .single .singlepost-navigation div a{border-color:#cccccc!important}.div_responsive_icons a{border-color:#cccccc;color:#cccccc}.div_responsive_icons a:hover{border-color:#82b440;color:#82b440}.background-color-main{background:#111111}#respond input#submit,.widget.sendpress input[type=submit],input[type=submit]{background:#111111;color:#ffffff}.menu_wrapper ul ul{color:#ffffff}.menu_wrapper>ul>li.has_children.hovered>a:after{border-top-color:#ffffff}.menu_wrapper .is_fullwidth aside .pbtheme_dark_border{border-color:#ffffff!important}.div_clac{background:#ffffff;background:rgba(255,255,255,.87)}.div_ctext,.frb_text,.text{color:#444444}#respond input#submit:hover,.hover-background-color-lighter-main:hover,.widget.sendpress input[type=submit]:hover,.yop_poll_vote_button:hover,input[type=submit]:hover{background:#82b440}.frb_sidebar aside,.sidebar_wrapper aside{color:#444444}.div_dtext,h1,h2,h3,h4,h5,h6{color:#111111}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#82b440}.inline-arrow-left.not-active,.inline-arrow-right.not-active{color:#cccccc}.pbtheme_image_hover{background-color:#111111;background-color:rgba(17,17,17,.4)}.pbtheme_image_hover a.pbtheme_image_hover_button, .pbtheme_image_hover a.pbtheme_image_hover_button:hover, .a-inherit li>a:hover{color:#82b440}.progers-bars-wrapper .progress-full{background:#cccccc;color:#ffffff}.progers-bars-wrapper .progress-done{background:#82b440}.progers-bars-wrapper span.tag-place{background-color:#111111}.progers-bars-wrapper .progress-tag span.tag-place:after{border-top-color:#111111}.pbtheme_search,.element-language-bar ul{color:#111111;background:#ffffff;border-color:#cccccc}.pbtheme_search form button{background:#82b440;color:#ffffff}.pbtheme_header_widgets,body.single-format-quote .div_feat_quote,.pbtheme_hover_over .div_buttons a{background:#111111;color:#ffffff}.pbtheme_header_widgets .pbtheme_dark_border{border-color:#ffffff!important}.pbtheme_shopping_cart .div-cart-remove a,.pbtheme_shopping_cart .pbtheme_cart_item{border-color:#cccccc}.pbtheme_shopping_cart .div-cart-remove a:hover{border-color:#82b440}.pbtheme_search:after{border-bottom-color:#ffffff}.element-woo-cart.hovered a.cart-contents:after{border-top-color:#ffffff}nav.social_bar{background:#ffffff}.pbtheme_shopping_cart .pbtheme_cart_button{background:#111111;color:#ffffff;border-color:#ffffff}.pbtheme_shopping_cart .pbtheme_cart_button.float_left{background:#cccccc}.pbtheme_shopping_cart .pbtheme_cart_button:hover{background:#82b440}.widget.sendpress input{border-color:#cccccc!important}.pbtheme_slider_content .pbtheme_slider_meta{background:#ffffff}.pagination_wrapper li a.current{color:#82b440}.pbtheme_hover_over{background:#111111;background:rgba(17,17,17,.87)}.pbtheme_hover_over .div_buttons a:hover{background:#82b440}.blog_content_infinite .div_feat_quote,.blog_content_infinite .hover_transparent.not-farent{background:#ffffff}.blog_content_infinite .div_featarea.div_feat_quote{border-color:#cccccc}.tweets-list li,.widget-pbtheme-cat li,.single .singlepost-navigation{border-color:#cccccc!important}.pbtheme_hover_over .portslider_meta a,.pbtheme_hover_over .portslider_meta{color:#ffffff;}.div_ajax_port_selected {background:#82b440;}.div_ajax_port_selected a{color:#ffffff !important;}.pbtheme_hover_over .portslider_meta a:hover {color:#82b440;}.pbtheme_header_widgets .div_dtext,.pbtheme_header_widgets h1,.pbtheme_header_widgets h2,.pbtheme_header_widgets h3,.pbtheme_header_widgets h4,.pbtheme_header_widgets h5,.pbtheme_header_widgets h6{color:#ffffff;}.footer_container aside h1,.footer_container aside h2,.footer_container aside h3,.footer_container aside h4,.footer_container aside h5,.footer_container aside h6{color:#ffffff;}.footer_wrapper .div_dtext{color:#ffffff;color:rgba(255,255,255,.8);}.menu_wrapper li.menu-item .sub-menu li,.menu_wrapper ul li.is_fullwidth.hasno_sidebar > ul > li{border-color:#ffffff;border-color:rgba(255,255,255,0.1);}li.menu-item.hovered > a {background:#111111;background:rgba(255,255,255,0.05);}.infinite-load-button,.infinite-load-button-no-more{border-color:#cccccc;color:#cccccc;}.infinite-load-button:hover{border-color:#111111;color:#111111;}li.product li.product .element-network-icons > a:before{border-top-color:#111111;}.div_portfolio_slider ul.div_top_nav_cat li.div_ajax_port_selected a,.div_portfolio_slider ul.div_top_nav_cat li a:hover{color:#82b440 !important;}.div_portfolio_slider ul.div_top_nav_cat li a{color:#ffffff}.footer_wrapper .element-network-icons > a:before{border-top-color:#ffffff;}.footer_container .header_pbtheme_bottom,.header_holder,.header_wrapper,.header_wrapper .pbtheme_dark_border{border-color:#cccccc!important}.footer_container>.small_separator{background:#cccccc!important}.input_wrapper input,input.pbtheme_dark_border,select,select.pbtheme_dark_border,.comment_form.contact_form textarea,textarea.pbtheme_dark_border{border-color:#cccccc!important}
      </style>
      <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
      <style id="shindiri_styles" type="text/css">
         /* Search widget */
         .widget .search-form .input_field,
         .woocommerce-product-search input,
         .woocommerce-product-search .search-field,
         .widget_search input {
         border: 1px solid #82b440 !important;
         }
         #search-trigger .pbtheme_search_inline form button,
         .widget .search-form .button,
         .woocommerce-product-search button,
         .widget_search button {
         background: #82b440 !important;
         }
         /* Content width on set resolution */
         @media(max-width: 1200px) {
         .single-product #content {
         padding: 15px 15px 0 15px;
         }
         }
      </style>
      <style></style>
      <script type="text/javascript">
         var hidetopbar = '1';
      </script>
      <style id="pbuilder_dynamic_row_css" type="text/css">.pbuilder_row.pbuilder_row_full_width{margin:0 NaNpx;} .pbuilder_row .pbuilder_row_video > div {width:1572px; height:649px; margin:-324.5px 0 0 -786px !important;} </style>
   </head>
   <body class="page-template-default page page-id-60 pbtheme-layout pbtheme_wide pbtheme-rrs blog_layout_6 div-nobgvideo">
      <div id="pbtheme_wrapper">
         <div id="pbtheme_content">
            <div class="pbtheme_container" style="">
               <div id="content" class="post-60 page type-page status-publish hentry">
                  <div role="form" class="wpcf7" id="wpcf7-f59-p60-o1" lang="en-US" dir="ltr">
                     <div class="screen-reader-response">
                        <p role="status" aria-live="polite" aria-atomic="true"></p>
                        <ul></ul>
                     </div>
                     <form  id="contactForm" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                        <p>Your Name (required)<br>
                           <span class="wpcf7-form-control-wrap your-name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> 
                        </p>
                        <p>Your Email (required)<br>
                           <span class="wpcf7-form-control-wrap your-email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span> 
                        </p>
                        <p>Subject<br>
                           <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span> 
                        </p>
                        <p>Your Message<br>
                           <span class="wpcf7-form-control-wrap your-message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> 
                        </p>
                        <p><input type="submit" value="Send" class="wpcf7-form-control has-spinner wpcf7-submit"><span class="wpcf7-spinner"></span></p>
                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <script>
           const form = document.getElementById('contactForm');
           form.addEventListener('submit', async (e) => {
             e.preventDefault();
         
             const data = new FormData(form);
//alert(data.get('name'));
         
             const res = await fetch('https://api.app.quicktikk.com/api/send-mail', {
               method: 'POST',
               body: data
             });
         
             if (res.ok) {
      form.reset(); 
              // alert('Form submitted!');
             } else {
               alert('Submission failed.');
             }
           });
         </script>
         
         <link rel="stylesheet" id="pbuilder_Open+Sans_300-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300&amp;subset=all&amp;ver=5.8.10" type="text/css" media="all">
         <script type="text/javascript" src="../jquery.color.min.js?ver=2.1.2" id="jquery-color-js"></script>
         <script type="text/javascript" src="../core.min.js?ver=1.12.1" id="jquery-ui-core-js"></script>
         <script type="text/javascript" src="../jquery.ui.mouse.min.js?ver=5.8.10" id="jquery-ui-mouse-js"></script>
         <script type="text/javascript" src="../jquery/ui/slider.min.js?ver=1.12.1" id="jquery-ui-slider-js"></script>
         <script type="text/javascript" src="../accordion.min.js?ver=1.12.1" id="jquery-ui-accordion-js"></script>
         <script type="text/javascript" src="../sortable.min.js?ver=1.12.1" id="jquery-ui-sortable-js"></script>
         <script type="text/javascript" src="../datepicker.min.js?ver=1.12.1" id="jquery-ui-datepicker-js"></script>
         <script type="text/javascript" id="jquery-ui-datepicker-js-after">
            jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
         </script>
         <script type="text/javascript" src="../jquery.ui.draggable.min.js?ver=5.8.10" id="jquery-ui-draggable-js"></script>
         <script type="text/javascript" src="../jquery.prettyphoto.js?ver=3.1.5" id="pbuilder_prettyphoto_js-js"></script>
         <script type="text/javascript" src="../idangerous.swiper.js?ver=2.5" id="pbuilder_swiper_js-js"></script>
         <script type="text/javascript" src="../swfobject.js?ver=2.2.0" id="pbuilder_swfobject_js-js"></script>
         <script type="text/javascript" src="../jquery.metadata.js?ver=1.4.0" id="pbuilder_YTPlayer_meta_js-js"></script>
         <script type="text/javascript" src="../jquery.mb.YTPlayer.js?ver=1.4.0" id="pbuilder_YTPlayer_js-js"></script>
         <script type="text/javascript" src="../timer.min.js?ver=0.5.5" id="pbuilder_flipclock_js-js"></script>
         <script type="text/javascript" src="../jquery.mb-comingsoon.js?ver=0.5.5" id="pbuilder_mb_comingsoon_js-js"></script>
         <script type="text/javascript" id="pbuilder_shortcode_js-js-extra">
            /* <![CDATA[ */
            var ajaxurl = "https:\/\/www.rankinggold.com\/wp-admin\/admin-ajax.php";
            /* ]]> */
         </script>
         <script type="text/javascript" src="../shortcodes.js?ver=1.0.1" id="pbuilder_shortcode_js-js"></script>
         <script type="text/javascript" src="../jquery.easypiechart.min.js?ver=2.1.3" id="pbuilder_easypiechart_js-js"></script>
         <script type="text/javascript" src="../chart.js?ver=1.0" id="pbuilder_chart_js-js"></script>
         <script type="text/javascript" src="../raphael.2.1.0.min.js?ver=2.1.0" id="pbuilder_raphael_js-js"></script>
         <script type="text/javascript" src="../justgage.1.0.1.js?ver=1.0.1" id="pbuilder_justgage_js-js"></script>
         <script type="text/javascript" src="../isotope.pkgd.min.js?ver=2.0.0" id="pbuilder_isotope_js-js"></script>
         <script type="text/javascript" src="../pbs.min.js?ver=1.0.1" id="pbuilder_pbs_js-js"></script>
         <script type="text/javascript" src="../modernizr-2.6.2-respond-1.1.0.min.js?ver=2.6.2" id="pbuilder_modernize_js-js"></script>
         <script type="text/javascript" src="../flowplayer.min.js?ver=2.5.4" id="pbuilder_fp_js-js"></script>
         <script type="text/javascript" src="../pb_main.js?ver=1.0.5" id="pb-main-js-js"></script>
         <script type="text/javascript" src="../regenerator-runtime.min.js?ver=0.13.7" id="regenerator-runtime-js"></script>
         <script type="text/javascript" src="../wp-polyfill.min.js?ver=3.15.0" id="wp-polyfill-js"></script>
         <script type="text/javascript" src="../index.js?ver=5.5.2" id="contact-form-7-js"></script>
         <script type="text/javascript" src="../TweenMax.min.js?ver=1.0" id="pbtheme-tween-js"></script>
         <script type="text/javascript" src="../scrolltoplugin.js?ver=1.0" id="pbtheme-scrolltoplugin-js"></script>
         <script type="text/javascript" src="../jquery.swipebox.min.js?ver=1.0" id="pbtheme-swipebox-js"></script>
         <script type="text/javascript" src="../idangerous.swiper-2.4.2.min.js?ver=1.0" id="pbtheme-idangerous-js"></script>
         <script type="text/javascript" src="../jquery.ba-dotimeout.min.js?ver=1.0" id="pbtheme-ba-dotimeout-js"></script>
         <script type="text/javascript" src="../smoothscroll.js?ver=1.0" id="pbtheme-ssc-js"></script>
         <script type="text/javascript" id="pbtheme-main-js-js-extra">
            /* <![CDATA[ */
            var pbtheme_mainjs_data = {"enable_sticky_header":"1","header_brakepoint":"640"};
            var pbtheme = {"ajaxurl":"https:\/\/www.rankinggold.com\/wp-admin\/admin-ajax.php","ts_viewmore":"VIEW DETAILS","page_bg":"none","video_bg":"none","video_mute":"none","video_loop":"none","video_hd":"none","go_responsive":"640","video_fallback":"none","is_mobile_tablet":"no"};
            /* ]]> */
         </script>
         <script type="text/javascript" src="../main.js?ver=1.0" id="pbtheme-main-js-js"></script>
         <script type="text/javascript" src="../socialbro.js?ver=1.0" id="socialbro-js"></script>
         <script type="text/javascript" src="../front_common.js?ver=1.0.0" id="pb-theme-upgrade-script-js"></script>
         <script type="text/javascript" src="../wp-embed.min.js?ver=5.8.10" id="wp-embed-js"></script>
         <script type="text/javascript">if(typeof removecufon == "function") removecufon();</script>
      </div>
   </body>
</html>
